.courses-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background: #f4f7ff;
}

.title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 32px;
  color: #0c2d78;
  font-weight: 800;
}

/* GRID */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 25px;
}

/* CARD */
.course-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 8px 18px rgba(0,0,0,.15);
  transition: .3s;
}

.course-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.course-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* TEXT */
.course-info {
  padding: 18px;
  text-align: center;
}

.course-info h3 {
  font-size: 17px;
  color: #0b2e65;
  line-height: 1.3;
}
