.navbar {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #031d4a, #0655b6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}

/* IZQUIERDA */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.brand {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

/* DERECHA */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* BOTÓN CERRAR SESIÓN */
.logout-btn {
  background: white;
  color: #0e5adf;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #e6e6e6;
}
